version: '3'

services:
  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    environment:
      - WEBHOOK_TUNNEL_URL=https://elvia-unspecific-arlo.ngrok-free.dev
    restart: unless-stopped
